beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.1.0
dbf-light==1.0.0
idna==3.4
lxml
numpy
pandas
pyasn1
pycbrf
pyTelegramBotAPI
python-dateutil
pytz
requests
rsa
six
soupsieve==2.4.1
steampy==0.80
tzdata==2023.3
urllib3==2.0.3
wget==3.2
